/*body 下第一层布局，所有布局的母布局*/
    #header {
        position:relative;
        background:#3c763d;
        width : 100%;
    }
    
    #header .top{
    	height : 50%;
    	position:relative;
    	text-align:center;
    	color : white;
    	 font-family:晴圆;
    	 align : center;
    	 background: #8B0000;
    }
     #header .bottom{
     	background: white;
     	height : 50%;
     	width : 100%;
     }
    #header .bottom .left{
    	width : 40%;
    	float : left;
    	height : 100%;
    	line-height:30px;
    	 font-family:晴圆;
    }
    
    #header .center{
    	width : 40%;
    	float : left;
    	height : 100%;
    	line-height:30px;
    	font-family:晴圆;
    }
    
    #header .right{
    	width : 20%;
    	float : left;
    	height : 100%;
    	text-align:center;
    }
    
    #content {
        position: absolute;
        background:#3c444d;
        width : 100%;
    }
    
    .typeGroup {
        position: absolute;
        background : Gray;
        height : 100%;
        width : 100%;
    }
    
    
 
   table
    {
        table-layout: fixed;
		border-color: Gray;;
		width:100%;
		height:100%;
		text-align:center;
		position:relative;
        font-family:晴圆;
    }

    table tr td
    {
        color:Black;
        text-align:center;
        padding : 0px;
        border-top : Gray 0px solid; 
        border-left : Gray 0px solid; 
    }

    .missTable{
    	table-layout: fixed;
		border-color: #888a85;
		width : 50%;
		float : left;
		text-align:center;
		position:relative;
		background-color: #ffffff;
        font-family:晴圆;
        border-right : Gray 1px solid;
    }
    .centerwidth{
    	width : 40%;
    }
    .rightwidth{
    	width : 30%;
    }
    
   .missTable th{
		background: #EEE5DE	;
		color : #8B1A1A;
		font-family:晴圆;
   }
     .missTable tr
    {
     /* height : 28px;    所有高度和宽度都为自适应方式*/
    }
    
   .missTableBackGround-REN2 {
   		background: #F0FFFF;
   }
   .missTableBackGround-REN3 {
   		background: #F0FFF0;
   }
   
   .missTableBackGround-REN4 {
   		background: #F0F8FF;
   }
   
   .missTableBackGround-SHUN {
   		background: #F7F7F7;
   }
   
   .missTableBackGround-WEI {
   		background: #F5FFFA;
   }
   
   .missTableBackGround-REN {
   		background: #F5F5F5;
   }
 