<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.dzzst.dao.fivein20.FiveIn20TMapper">
	<resultMap id="resultMap" type="com.dream.dzzst.model.fivein20.FiveIn20Number">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="issue_number" property="issueNumber" jdbcType="VARCHAR" />
		<result column="no1" property="no1" jdbcType="INTEGER" />
		<result column="no2" property="no2" jdbcType="INTEGER" />
		<result column="no3" property="no3" jdbcType="INTEGER" />
		<result column="no4" property="no4" jdbcType="INTEGER" />
		<result column="no5" property="no5" jdbcType="INTEGER" />
		<result column="origin" property="origin" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<!-- 用来返回分析统计结果使用 -->
	<resultMap id="resultAnalysis" type="com.dream.dzzst.model.fivein20.FiveIn20Analysis">
		<result column="ISSUE_NUMBER" property="issueNumber" jdbcType="VARCHAR" />
		<result column="GROUP_NUMBER" property="groupNumber" jdbcType="VARCHAR" />
		<result column="CURRENT_MISS" property="currentMiss" jdbcType="INTEGER" />
		<result column="MAX_MISS" property="maxMiss" jdbcType="INTEGER" />
		<result column="TYPE" property="type" jdbcType="INTEGER" />
	</resultMap>
	
	
	<sql id="selectItem">
        main.issue_number,main.no1,main.no2,main.no3,main.no4,main.no5
    </sql>
	
	<select id="getRecordByIssueId" parameterType="Map" resultMap="resultMap">
		SELECT 
            <include refid="selectItem"/>
        FROM
            ${mainTable} main
        <where>
            main.issue_number = #{issueNumber}
        </where>
         LIMIT 1
	</select>
	
	<select id="getLastRecord" parameterType="Map" resultMap="resultMap">
		SELECT 
            <include refid="selectItem"/>
        FROM
            ${mainTable} main
        ORDER BY issue_number*1 DESC
        LIMIT 1
	</select>
	
	
	<select id="getRecordsByNum" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
            <include refid="selectItem"/>
        FROM
        	 (SELECT * FROM ${mainTable} ORDER BY ISSUE_NUMBER DESC LIMIT #{count}) main
       	ORDER BY main.issue_number*1
	</select>
	
	<select id="getRecordsByNumOrderById" resultMap="resultMap" parameterType="java.util.Map">
		SELECT 
            main.id,main.issue_number,main.no1,main.no2,main.no3,main.no4,main.no5,main.origin,main.create_time
        FROM
        	 ${mainTable} main
       	ORDER BY main.id DESC
       	LIMIT 10
	</select>
	
	<select id="getAllData" resultMap="resultMap">
		SELECT 
            <include refid="selectItem"/>
        FROM
            ${mainTable} main
        ORDER BY main.issue_number DESC
        LIMIT 1000
	</select>
	<select id="getTodayDatas" parameterType="java.util.Map" resultMap="resultMap">
		SELECT 
            <include refid="selectItem"/>
        FROM
            ${mainTable} main
        <where>
            SUBSTRING(main.issue_number,1,6) =DATE_FORMAT(CURDATE(),'%y%m%d')
        </where>
	</select>
	
	<!-- 增加查询遗漏方法 -->
	<select id="getMissAnalysis" parameterType="java.util.Map" resultMap="resultAnalysis">
		SELECT 
            main.ISSUE_NUMBER,GROUP_NUMBER,CURRENT_MISS,MAX_MISS,main.TYPE
        FROM
            ${mainTable} main
        <where>  
           <if test="issueNumber != '' ">
        		AND ISSUE_NUMBER = #{issueNumber}
		   </if>
		   AND TYPE IN ('2','3','17','18','19','22','23','24','25')
        </where>
        ORDER BY 
        	`TYPE`,CURRENT_MISS DESC
	</select>
	
	<insert id="insertDataInput" parameterType="java.util.Map">
  			insert into ${mainTable}(issue_number,no1,no2,no3,no4,no5,origin,create_time)
          	values(${issueNumber},${no1}, ${no2}, ${no3},${no4},${no5},"2",SYSDATE())
 	</insert>
 	
 	<delete id="deleteDataInput"  parameterType="java.util.Map">
 		delete from ${mainTable} where id = ${id}
 	</delete>
</mapper>